{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1 class="Display-3">Simmons Accountancy</h1>
    <p class="lead">What is an accountant?</p>
    <hr class="my-4">
    <p>An accountant is a business partner who provides you with
    the advice and services you need at an economical price.
    Simmons Accountancy is very well positioned to service
    entrepreneurs such as yourself. Because of my extensive work
    with entrepreneurial businesses and my experience with
    clients in the service, wholesale, and retail industries,
    I believe Simmons Accountancy will be able to meet your
    business and personal requirements to your complete
    satisfaction. This site provides information about the cost
    of my services, my professional background, as well as the
    business philosophy of my practice.</p>
    </hr>

{% endblock %}




