{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-3">Services</h1>
      <p>I have provided professional services to individuals and
      entrepreneurial businesses most of my career. The services
      most frequently provided are:
      <li>
        Management advisory services
      </li>
      <li>
        income tax planning and return preparation
      </li>
      <li>
        Accounting and bookkeeping
      </li>
      <li>
        Budget preparation and analysis
      </li>
      <li>
        Payroll calculation and payroll taxfilings
      </li>
      <li>
        Preparation of financial statements
      </li>
      <br>
      Every individual and business has a unique character and
      a unique set of problems and resulting solutions. I work
      with my clients to design a specific service plan that will
      meet their needs.
      </p>
{% endblock %}
